.hovered {
  background-color: rgba(191, 191, 191, 0.25);
}

.tooltip {
  position: absolute;
  padding: 2px 6px;
  border: solid 1px black;
  background: white;
  a {
    display: block;
  }
}

form {
  .cropbox {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  div {
    position: relative;
    .thumbnail {
      position: absolute;
      right: 0px;
      top: 0px;
    }
    textarea {
      height: 200px;
    }
  }
  .cropping_data {
    display: none;
  }
}
