* {
  font: {
    size: 10px;
    family: arial, helvetica;
  }
}

a {
  color: black;
}

form {
  & > div {
    margin-bottom: 10px;
  }
  label {
    display: block;
  }
  input {
    border: solid 1px black;
  }
  .field_with_errors {
    display: inline;
    input {
      border-color: red;
    }
  }
  .error {
    display: inline;
    color: red;
  }
}

#session {
  position: absolute;
  top: 0px;
  right: 100%;
  width: 200px;
  height: 100px;
  margin-right: 20px;
  &:hover {
    form {
      display: block;
    }
    a {
      display: inline;
    }
  }
  form {
    display: none;
    width: 200px;
    height: 100px;
    padding: 0px;
  }
  a {
    display: none;
  }
}
