@import 'dimensions';
#main {
  position: absolute;
  left: 50%;
  margin-left: -$main_width / 2;
  width: $main_width - $main_padding_width * 2;
  height: $main_height - $main_padding_height * 2;
  padding: $main_padding_height $main_padding_width;
  border: solid 1px #ccc;
  #header {
    position: absolute;
    left: 0px;
    bottom: 100%;
    width: 100%;
  }
  #breadcrumb {
    h1 {
      width: 200px;
      height: 22px;
      background: {
        color: transparent;
        repeat: no-repeat;
        position: 0px 0px;
      }
      span {
        display: none;
      }
    }
    a {
      font-size: 12px;
    }
  }
  #footer {
    position: absolute;
    top: 100%;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 30px;
    text-align: center;
    &,
    a {
      color: #777;
    }
  }
}
