@import 'dimensions';
#main {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -$main_width / 2;
  width: $main_width - $main_padding_width * 2;
  height: $main_height - $main_padding_height * 2;
  padding: $main_padding_height $main_padding_width;
  border: solid 1px #CCC;
  #header {
    position: absolute;
    left: 0px;
    bottom: 100%;
    width: 100%;
    #contact_link {
      display: block;
      position: absolute;
      right: 0px;
      bottom: 3px;
      padding-left: 114px;
      background: {
        image: url("/images/tiret-rose.jpg");
        repeat: no-repeat;
        position: 0px 0px;
        color: transparent;
      }
    }
  }
  #breadcrumb {
    h1 {
      width: 200px;
      height: 20px;
      background: {
        color: transparent;
        repeat: no-repeat;
        position: 0px 0px;
      }
      span {
        display: none;
      }
    }
  }
  #footer {
    position: absolute;
    top: 100%;
    width: 100%;
    padding-top: 8px;
    text-align: center;
  }
}
