@import 'dimensions';
#main {
  border: none;
  background: {
    image: url(/images/pixels.png);
    position: center right;
    repeat: no-repeat;
    color: transparent;
  }
  #virginie_blancher {
    display: block;
    width: 133px;
    height: 45px;
    position: absolute;
    left: -133px;
    top: 30px;
    background: {
      image: url(/images/virginie-blancher.png);
      color: transparent;
      position: center;
      repeat: no-repeat;
    }
    span {
      display: none;
    }
  }
  #links {
    position: relative;
    #to_contact,
    #to_bio_et_cv,
    #to_chiyogami,
    #to_couleur_bd,
    #to_croquis,
    #to_graphisme,
    #to_illustration,
    #to_liens,
    #to_inspirations {
      position: absolute;
      display: block;
      background: {
        color: transparent;
        repeat: no-repeat;
        position: center;
      }
      span {
        display: none;
      }
    }
    #to_contact {
      top: 130px;
      left: 20px;
      width: 107px;
      height: 13px;
      background-image:url(/images/home_links/me-contacter.png);
    }
    #to_bio_et_cv {
      top: 475px;
      left: 270px;
      width: 27px;
      height: 47px;
      background-image:url(/images/home_links/bio-et-cv.png);
    }
    #to_chiyogami {
      top: 17px;
      left: 155px;
      width: 167px;
      height: 90px;
      background-image:url(/images/home_links/textile-et-papier-paint.png);
    }
    #to_couleur_bd {
      top: 317px;
      left: 143px;
      width: 230px;
      height: 29px;
      background-image:url(/images/home_links/couleur-bd.png);
    }
    #to_croquis {
      top: 508px;
      left: 10px;
      width: 67px;
      height: 13px;
      background-image:url(/images/home_links/croquis.png);
    }
    #to_graphisme {
      top: 190px;
      left: 10px;
      width: 329px;
      height: 47px;
      background-image:url(/images/home_links/graphisme.png);
    }
    #to_illustration {
      top: 450px;
      left: -20px;
      width: 94px;
      height: 11px;
      background-image:url(/images/home_links/illustrations.png);
    }
    #to_liens {
      top: 528px;
      left: 70px;
      width: 40px;
      height: 12px;
      background-image:url(/images/home_links/liens.png);
    }
    #to_inspirations {
      top: 470px;
      left: 60px;
      width: 100px;
      height: 28px;
      background-image:url(/images/home_links/inspirations-et-photos.png);
    }
  }
}
