@import 'dimensions';
@import 'bandeverticale';
#main {
  #breadcrumb {
    h1 {
      background-image: url('/images/portfolio_section_titles/sitemap.png')
    }
  }
  #content {
    #right_column {
      position: absolute;
      top: 50px;
      left: 420px;
      width: 350px;
      height: 500px;
      ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        li {
          margin-bottom: 10px;
          h2 {
            margin: 0px;
            padding: 0px;
          }
          a {
            text-decoration: none;
          }
          ul li {
            margin: 0px;
          }
        }
      }
    }
  }
}
