* {
  font-size: 10px;
  font-family: arial, helvetica; }

a {
  color: black; }

form > div {
  margin-bottom: 10px; }
form label {
  display: block; }
form input {
  border: solid 1px black; }
form .field_with_errors {
  display: inline; }
  form .field_with_errors input {
    border-color: red; }
form .error {
  display: inline;
  color: red; }

#session {
  position: absolute;
  top: 0px;
  right: 100%;
  width: 200px;
  height: 100px;
  margin-right: 20px; }
  #session:hover form {
    display: block; }
  #session:hover a {
    display: inline; }
  #session form {
    display: none;
    width: 200px;
    height: 100px;
    padding: 0px; }
  #session a {
    display: none; }
