#main {
  background-image: url(/images/bande-verticale.png);
  background-repeat: no-repeat;
  background-position: 230px 35px;
  background-color: transparent; }

#main #breadcrumb h1 {
  background-image: url("/images/portfolio_section_titles/bio.png"); }
#main #content {
  position: relative; }
  #main #content #right_column {
    width: 200px;
    padding-top: 20px;
    text-align: center; }
    #main #content #right_column #resumes_frame {
      margin-top: 20px; }
      #main #content #right_column #resumes_frame #resumes {
        list-style-type: none;
        padding: 0px;
        min-height: 30px; }
  #main #content #bibliography {
    padding-top: 20px;
    position: absolute;
    width: 400px;
    top: 00px;
    right: 10px; }
    #main #content #bibliography #columns {
      position: relative; }
      #main #content #bibliography #columns #bibliography_column_1,
      #main #content #bibliography #columns #bibliography_column_2 {
        width: 195px; }
      #main #content #bibliography #columns #bibliography_column_2 {
        position: absolute;
        top: 0px;
        right: 0px; }
