#main {
  background-image: url(/images/bande-verticale.png);
  background-repeat: no-repeat;
  background-position: 230px 35px;
  background-color: transparent; }

#main #breadcrumb h1 {
  background-image: url("/images/portfolio_section_titles/contact.png"); }
#main #content #right_column {
  position: absolute;
  top: 50px;
  left: 420px;
  width: 350px;
  height: 500px; }
  #main #content #right_column #explainations {
    text-align: center; }
  #main #content #right_column form#new_contact {
    position: absolute;
    bottom: 0px; }
    #main #content #right_column form#new_contact.disabled .submit input {
      background-position: bottom center; }
    #main #content #right_column form#new_contact label, #main #content #right_column form#new_contact input {
      display: inline-block;
      *display: inline;
      zoom: 1; }
    #main #content #right_column form#new_contact label {
      width: 60px; }
    #main #content #right_column form#new_contact input {
      width: 270px; }
    #main #content #right_column form#new_contact .textarea label {
      display: block;
      width: auto; }
    #main #content #right_column form#new_contact .textarea textarea {
      width: 330px;
      height: 150px; }
    #main #content #right_column form#new_contact .submit {
      text-align: center; }
      #main #content #right_column form#new_contact .submit input {
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 62px;
        height: 26px;
        padding: 0px;
        text-indent: 1000px;
        overflow: hidden;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: top center;
        background-image: url(/images/bouton-envoyer.png);
        cursor: pointer; }
