#main {
  border: none;
  background-image: url(/images/pixels.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-color: transparent; }
  #main #virginie_blancher {
    display: block;
    width: 133px;
    height: 45px;
    position: absolute;
    left: -133px;
    top: 30px;
    background-image: url(/images/virginie-blancher.png);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat; }
    #main #virginie_blancher span {
      display: none; }
  #main #links {
    position: relative; }
    #main #links #to_contact,
    #main #links #to_bio_et_cv,
    #main #links #to_chiyogami,
    #main #links #to_couleur_bd,
    #main #links #to_croquis,
    #main #links #to_graphisme,
    #main #links #to_illustration,
    #main #links #to_liens,
    #main #links #to_inspirations {
      position: absolute;
      display: block;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center; }
      #main #links #to_contact span,
      #main #links #to_bio_et_cv span,
      #main #links #to_chiyogami span,
      #main #links #to_couleur_bd span,
      #main #links #to_croquis span,
      #main #links #to_graphisme span,
      #main #links #to_illustration span,
      #main #links #to_liens span,
      #main #links #to_inspirations span {
        display: none; }
    #main #links #to_contact {
      top: 130px;
      left: 20px;
      width: 107px;
      height: 13px;
      background-image: url(/images/home_links/me-contacter.png); }
    #main #links #to_bio_et_cv {
      top: 475px;
      left: 270px;
      width: 27px;
      height: 47px;
      background-image: url(/images/home_links/bio-et-cv.png); }
    #main #links #to_chiyogami {
      top: 17px;
      left: 155px;
      width: 167px;
      height: 90px;
      background-image: url(/images/home_links/textile-et-papier-paint.png); }
    #main #links #to_couleur_bd {
      top: 317px;
      left: 143px;
      width: 230px;
      height: 29px;
      background-image: url(/images/home_links/couleur-bd.png); }
    #main #links #to_croquis {
      top: 508px;
      left: 10px;
      width: 67px;
      height: 13px;
      background-image: url(/images/home_links/croquis.png); }
    #main #links #to_graphisme {
      top: 190px;
      left: 10px;
      width: 329px;
      height: 47px;
      background-image: url(/images/home_links/graphisme.png); }
    #main #links #to_illustration {
      top: 450px;
      left: -20px;
      width: 94px;
      height: 11px;
      background-image: url(/images/home_links/illustrations.png); }
    #main #links #to_liens {
      top: 528px;
      left: 70px;
      width: 40px;
      height: 12px;
      background-image: url(/images/home_links/liens.png); }
    #main #links #to_inspirations {
      top: 470px;
      left: 60px;
      width: 100px;
      height: 28px;
      background-image: url(/images/home_links/inspirations-et-photos.png); }
