#main {
  background-image: url(/images/bandeverticale.jpg);
  background-repeat: no-repeat;
  background-position: 230px 0px;
  background-color: transparent; }

#main #breadcrumb h1 {
  background-image: url("/images/portfolio_section_titles/sitemap.png"); }
#main #content #right_column {
  position: absolute;
  top: 50px;
  left: 420px;
  width: 350px;
  height: 500px; }
  #main #content #right_column ul {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    #main #content #right_column ul li {
      margin-bottom: 10px; }
      #main #content #right_column ul li h2 {
        margin: 0px;
        padding: 0px; }
      #main #content #right_column ul li a {
        text-decoration: none; }
      #main #content #right_column ul li ul {
        -moz-column-count: 1;
        -webkit-column-count: 1; }
        #main #content #right_column ul li ul li {
          margin: 0px; }
