- title t('.title')
- specific_includes do
  = javascript_include_tag 'contacts'
  = stylesheet_link_tag 'contacts'
%div#content
  %div#right_column
    = static_content_tag("contacts:explainations", :div, :id => 'explainations')
    = render :partial => 'form'
